body {
font-family: sans-serif;
font-size: 14px;
}
h1, h2 {
color: gray;
}
h2 {
font-size: 17px;
border-bottom: 1px solid black;
}
h1 {
font-size: 21px;
}
p {
color: maroon;
font-size: 14px;
}
em {
font-family: serif;
}
p.greentea {
color: green;
}
p.ice {
      color: blue;
      }
p.purpule      {
      color: purple;
      }
