body {
font-family: sans-serif;
}
h1, h2 {
color: gray;
}
h2 {
border-bottom: 1px solid black;
}
p {
color: maroon;
}
em {
font-family: serif;
}
p.greentea {
color: green;
}
p.ice {
      color: blue;
      }
p.purpule      {
      color: purple;
      }